* {
    box-sizing: border-box;

}

body {
    background-color: #F2EAE2;
    font-family: 'Fraunces', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid red;
    width: 100%;


}

.perfume {
    margin-bottom: 1.5rem;
}

.mon {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}



#product_desc {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem;
}

#product_img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media screen and (min-width:768px) {
    #card {
        flex-direction: row;
        max-width: 600px;
        align-items: center;
        justify-content: center;
    }

    #product_desc {
        width: 50%;

    }

    #product_img {
        width: 50%;
    }
}